/* modal.css */


.control-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  color: white;
  background-color: #6c757d; 
  border: 2.5px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.control-btn i {
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.button-text {
  transition: opacity 0.3s ease;
}

.control-btn:hover {
  transform: scale(1.05);
  border-color: white;
}


.btn-connect {
  background-color: #28a745; /* Green */
}


.btn-kill {
  background-color: #dc3545; 
}




.btn-kill:hover .kill-icons {
  display: flex;
}

.btn-kill .kill-icons i {
  font-size: 24px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.btn-kill.animate-kill .kill-icons .fa-smile {
  opacity: 1;
  animation: fadeOutSmile 1s forwards;
}

.btn-kill.animate-kill .kill-icons .fa-times-circle {
  opacity: 0;
  animation: fadeInX 1s forwards 1s; 
}

@keyframes fadeOutSmile {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInX {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-timeline {
  background-color: #17a2b8; 
}


@keyframes timelinePulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.control-btn:focus {
  outline: 2px solid #fff;
  outline-offset: -2px;
}


